<mat-spinner *ngIf="loading"></mat-spinner>
<button class="btn btn-link" (click)="onGoBack()"><< Retour</button>
<div *ngIf="!loading" class="col-sm-6 offset-sm-3 mt-2">
    <form [formGroup]="userForm">
        <div class="form-group">
            <label for="mail">Mon mail :</label>
            <input type="text" id="mail" formControlName="mail" class="form-control"  >
        </div>
        <button class="btn btn-primary" (click)="onSubmit()" [disabled]="userForm.invalid">Valider</button>

    </form>
</div> 