<mat-spinner *ngIf="loading"></mat-spinner>
<button class="btn btn-link" (click)="onGoBack()"> << Retour</button> 
<div class=".col-xs-12 .col-sm-6 .col-lg-8">
  <h2>Mes objets à la con :</h2>
  <p class="text-center" *ngIf="stuff.length <= 0 && !loading">Rien à vendre !</p>
  <div>
    <div class="stuff-grid" *ngIf="stuff.length >= 0">
      <div class="thing-pane" *ngFor="let thing of stuff" [ngClass]="{'open': thing._id === chosenId}"
        [ngStyle]="{'background-image': 'url(' + thing.imageUrl + ')'}" (click)="onProductClicked(thing._id)">
        <div class="thing-info">
          <h3>
            {{ thing.title }}
          </h3>
          <h5>{{ thing.price / 100 | currency:'EUR' }}</h5>
        </div>
      </div>
    </div>
    <div class=" addStuff">
      <button class="btn btn-primary" (click)="addStuff()">Ajouter un objet à la con</button>
    </div>

  </div>
</div>
